body{
    height: 1000px;
    width: 1000px;
    background-image: url("http://hebus.org/files/Space/Space%20HD%20wallpaper%201920x1080%20(7).jpg");
}


#container{
    height: 1000px;
    width: 1000px;
}
#header{
    height: 150px;
    width: 1000px;
    padding: 10px;
    margin-top: 20px;

}
#picture{
    height: 300px;
    width: 1000px;
    padding: 10px;
    margin-top: 30px;
    background-image: url("");
    opacity: .78;
}
#signIn{
    height: 100px;
    width: 450px;
    padding: 10px;
    float: left;
    margin-top: 35px;
}
#logIn{
    height: 100px;
    width: 450px;
    float: right;
    padding: 10px;
    margin-top: 35px;

}
