



html {
    height: 100%;
}

body {
    font-family: serif;
    height: auto;
    width: auto;
    background: url("http://hebus.org/files/Space/Space%20HD%20wallpaper%201920x1080%20(7).jpg");
}
div{
    overflow: hidden;
    height: auto;
    width: auto;

}
#header{
    height: 100px;
    width: auto;
    text-align: center;
    color: white;
}

#form{
    height: auto;
    width: auto;

}

#formula{

    height: auto;
    width: auto;
}
#formulas{
    height: auto;
    width: auto;
}


#msform {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    float: left;

}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;

    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
}

/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: serif;
    color: #2C3E50;
    font-size: 13px;
}

#msform1 {

    width: 400px;
    margin: 50px auto;
    text-align: center;

}
#msform1 fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;

    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
}


/*inputs*/
#msform1 input, #msform1 textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: serif;
    color: #2C3E50;
    font-size: 13px;
}


#msform2 {
    width: 400px;
    text-align: center;
    float: right;
    margin-top: -500px;

}
#msform2 fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;

    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
}


/*inputs*/
#msform2 input, #msform2 textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: serif;
    color: #2C3E50;
    font-size: 13px;
}

/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
#button{
    float: right;
    height: 100px;
    width: 300px;
}
